.mockofun-its-popup{
  position:fixed;
  width:50vw;
  height:50vh;
  top:25vh;
  left:25vh;
  margin:0 auto;
  z-index:999;
  background-color:white;
  padding:10px;
  border:1px solid #444;
  overflow-y:auto;
}

.mockofun-its-popup-close:after{
	display: block;
	content: "close";
	cursor: pointer;
	color:blue;
	text-align: right;
}

.mockofun-its-popup ul{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: space-around;
}

.mockofun-its-popup ul li{
	display: inline-block;
	padding:5px;
}